/* Styling For Body  */
body {
    margin: 0px;
    font-family: Arial;
}

/* ---Body-Header--- */
#body-header {
    height: 65vh;
    opacity: 0.8;
    background-image: url(./macbook.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 1.2rem;
}


/* ---Horizontal Navigation list--- */
.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

/* Navigating li  */
.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
}

/* Navigation Anchor tag */
.horizontal-list li a {
    color: white;
    text-decoration: none;
}

/* Navigation Menu */
.nav-menu li a {
    transition: color 0.5s, border-bottom 4s;
}

/* navigation Hover */
.nav-menu li a:hover {
    color: lightgrey;
    border-bottom: 1px solid white;
}

/* For Text Center allignment */
.text-center {
    text-align: center;
}


/* ---Name & upper Social container--- */
#name-social-container {
    margin-top: 20vh;
}

/* My Name */
#my-name {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
    
}

/* My designation */
#designation{
    /* font-size: 1.5rem; */
    letter-spacing: 0.1rem;
    color: rgb(92, 129, 7);
    /* font-weight: 700; */
    margin-top: -1rem;
    margin-left: -1rem;
}

/* Social icons */
.social-icons li a i {
    padding: 10px;
    font-size: 1rem;
    border-radius: 50%;
}

/* Social icons Hover */
.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}


/* ----------All Sections----------- */
section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for Nth term */
section:nth-child(2n) {
    background-color: #9e9b9b29;
}

/* Styling for 2n + 1th term */
section:nth-child(2n+1) {
    background-color: white;
}

/* Heading Section */
.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

/* Heading span */
.section-heading span {
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}

/* ---About Section--- */
#about {
    height: auto;
    width: 100%;
    position: relative;
}

/* My Picture */
#my-image {
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -13vh;
}

/* My Picture img tag */
#my-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;
}

/* About para */
#about-para {
    padding: 10px;
    width: 70%;
    height: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-weight: 100;
    font-size: 1.1rem;
}


/* ---Skill-section--- */
.skills-display {
    margin: 20px;
    height: 100px;
}

/* Skill Progress  */
.skill-progress {
    width: 250px;
    height: 2rem;
    background-color: lightgrey;
    border-radius: 0.8rem;
}

/* All Skills */
#skills {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Skills progress div */
.skill-progress>div {
    border-radius: 20px 0px 0px 20px;
}

/* Skill's name */
.skill-name {
    color: white;
    font-size: 1rem;
    margin-left: 10px;
    padding-top: 8px;
}

/* ---Common Margin Classes--- */
.mb75px {
    margin-bottom: 75px;
}

/* ---All Common Color Classes--- */
.text-highlight {
    color: #2857a4;
    font-weight: 600;
}

.mb-blue {
    background-color: #2857a4;
}

.mb-green {
    background-color: green;
}

.mb-skyblue {
    background-color: skyblue;
}

.mb-cyan {
    background-color: cyan;
}

.mb-maroon {
    background-color: maroon;
}

.mb-gold {
    background-color: goldenrod;
}


/* ---Percentage Classes--- */
.eighty-five-percent {
    width: 90%;
    height: inherit;
}

.ninety-percent {
    width: 80%;
    height: inherit;
}

.ninety-five-percent {
    width: 75%;
    height: inherit;
}

.hundred-percent {
    width: 70%;
    height: inherit;
}

/* ---Timeline--- */
.timeline {
    position: relative;
    width: 75%;
    margin-bottom: 30px;
}

/* Timeline box */
.timeline-box {
    position: relative;
    margin: 5px;
    width: 40%;
    left: 5%;
    min-height: 150px;
}

/* Timeline Nth child */
.timeline-box:nth-child(2n) {
    left: 53%;
}

/* Timeline 2n + 1th child */
.timeline-box:nth-child(2n+1)::after {
    content: '';
    position: absolute;
    top: 25%;
    right: -12.6%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: grey;
    z-index: 1;
}

/* Timeline 2n after */
.timeline-box:nth-child(2n):after {
    content: '';
    position: absolute;
    top: 25%;
    left: -9.2%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: grey;
    z-index: 1;
}

/* Timeline divider */
.timeline-divider {
    position: absolute;
    height: 66%;
    width: 0;
    border: 3px dashed #0096fa6b;
    top: 10%;
    left: 50%;
}

/* Timeline traveller Car, Plane */
.timeline-traveller {
    font-size: 1.6rem;
    color: #2857a4;
    position: sticky;
    top: 30%;
    transform: rotate(90deg);
    z-index: 2;
}

/* Timeline heading */
.timeline-box h3 {
    display: flex;
    justify-content: flex-end;
}

/* Timeline Paragraph */
.timeline-box p {
    display: flex;
    text-align: justify;
    justify-content: flex-end;
}

/* Timeline heading */
.timeline-box h3 {
    color: #2857a4;
}

/* Timeline box Para */
.timeline-box p {
    color: orange;
}

/* Year */
.timeline-box .year {
    color: grey;
    margin-top: -15px;
}

/* Text */
.timeline-box .text {
    color: grey;
    font-size: 0.8rem;
}

/* Designation  */
#designation::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: contain;
}


/* Degree */
#degree::before {
    content: '';
    display: inline-block;
    width: 40px;
    background-size: contain;
}

/* Screen width Function */
@media screen and (max-width:600px) {
    .timeline-divider {
        left: 5%;
    }

    .timeline-box {
        left: 12% !important;
        width: 80%;
    }

    .timeline-box::after {
        left: -12% !important;
    }

    html {
        font-size: 15px;
    }
}


/* ----------------Portfolio-------------- */
#portfolio {
    width: 100%;
    height: 90vh;
}

/* Postfolio Div */
#portfolio>div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Main Div */
#main_div img {
    height: 300px;
    width: 400px;
    margin-top: 20px;
    border-radius: 20%;
    background-position: center;
    background-attachment: static;
    background-size: cover;
}

/* Main Div Hover */
#main_div img:hover {
    border-radius: 20%;
    border: none;
    transition: transform 0.3s ease-in-out;
    box-shadow: 5px 5px 8px 5px rgba(55, 49, 49, 0.5);
    transform: scale(1.05);
}


/* ----------Contact---------- */
#contact {
    background-color: blue;
    background-image: linear-gradient(30deg, rgba(43, 43, 132, 0.914), rgb(101, 52, 148));
}

/* Contact Span */
.contact-color>span {
    color: white;
}

/* Contact para */
#contact {
    color: white;
}

/* Contact Div */
#cont-div {
    display: flex;
    width: 90%;
    justify-content: space-around;
}

#cont-div>div {
    width: 40%;
    height: 400px;
}

/* Contact Input Area */
#div-form input,
textarea {
    width: 100%;
    height: 30px;
    border: 0px solid black;
    border-bottom: 2px solid white;
    background-color: rgba(43, 43, 132, 0);
    font-size: 1rem;
    margin-bottom: 30px;
    margin-top: 20px;
}

/* Textarea */
#div-form textarea {
    height: 40px;
}

/* Send Button */
#div-form button {
    padding: 10px;
    color: white;
    border: 2px solid white;
    margin-left: 30%;
    margin-top: 20px;
    background-color: rgba(43, 43, 132, 0);
}

/* ------------------Lower Social Icons----------- */
#lower-social-icons li a i {
    color: white;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 10px;
    font-size: 1.3rem;
}